@model RoommatesExpensesManager.ViewModel.VMGroups
@using RoommatesExpensesManager.Models;
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<style>
    .webgrid-header {
        color: #FF0000;
        background-color: #dcdcdc;
    }

        .webgrid-header a {
            direction: rtl;
            color: #000000;
            background-color: #dcdcdc;
        }

    .webgrid-row-style {
        background-color: #FFFFFF;
    }

    .tbl {
        background-color: #FFFFFF;
    }

</style>

@{
    ViewBag.Title = "הוספת קבוצה חדשה";
}

<h2>הוספת קבוצה חדשה</h2>


@using (Html.BeginForm("addGroupSubmit", "Manager", FormMethod.Post, new { Class = "form-group" }))
{
    <div>
        @*TODO: comboBox from Json post Office*@
        <label>עיר</label>
        @Html.TextBoxFor(m => m.Group.city, new { Class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(x => x.Group.city)</div>
    </div>

    <div>
        <label>רחוב</label>
        @Html.TextBoxFor(m => m.Group.street, new { Class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(x => x.Group.street)</div>
    </div>

    <div>
        <label>מספר דירה</label>
        @Html.TextBoxFor(m => m.Group.aptNum, new { Class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(x => x.Group.aptNum)</div>
    </div>
    <br />
    <input class="btn btn-primary" id="addGroup" type="submit" value="הוספה" />
    <input class="btn btn-primary" id="addCategory" type="button" onclick="location.href='@Url.Action("ShowManagerPage", "Manager")'" value="סיום" />
}
<br />

<div style="color:red; font-size:xx-large">@ViewBag.addNewGroupError</div>
<div style="color:green; font-size:xx-large">@ViewBag.addGroupSuccess</div>

@{
    WebGrid groups = new WebGrid(Model.Groups, rowsPerPage: 5);
}
@groups.GetHtml(
    tableStyle: "table table-bordered table-responsive table-hover tbl",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    rowStyle: "webgrid-row-style",
    selectedRowStyle: "webgrid-selected-row",
    columns: groups.Columns(
        groups.Column("gid", "מספר קבוצה"),
        groups.Column("city", "עיר"),
        groups.Column("street", "רחוב"),
        groups.Column("aptNum", "מספר דירה"),
        groups.Column("managerUserName", "מנהל")
    )
)