@model RoommatesExpensesManager.ViewModel.VMGroups
@using RoommatesExpensesManager.Models
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@{
    ViewBag.Title = "הוספת משתמש";
}

<h2>הוספת משתמשים לקבוצה</h2>

@using (Html.BeginForm("ChooseUser", "Manager", FormMethod.Post))
{
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <td><b>מספר קבוצה</b></td>
            <td><b>עיר</b></td>
            <td><b>רחוב</b></td>
            <td><b>מספר</b></td>
        </tr>
        @foreach (Group grp in Model.Groups)
        {
            <tr>
                <td>@grp.gid </td>
                <td>@grp.city </td>
                <td>@grp.street </td>
                <td>@grp.aptNum </td>
                <td>
                    @Html.ActionLink("בחר", "ChooseUser", grp)
                </td>
            </tr>
        }
    </table>
}