@model RoommatesExpensesManager.ViewModel.VMUsersGroup
@using RoommatesExpensesManager.Models
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@{
    ViewBag.Title = "ChooseUser";
}

<h2>בחירת משתמש</h2>
@{ TempData["VMUsersGroup"] = Model;}

<div>פרטי קבוצה</div>
<table class="table table-responsive table-hover">
    <tr>
        <td><b>מספר קבוצה</b></td>
        <td><b>עיר</b></td>
        <td><b>רחוב</b></td>
        <td><b>מספר דירה</b></td>
    </tr>
    <tr>
        <td>@Model.group.gid</td>
        <td>@Model.group.city</td>
        <td>@Model.group.street</td>
        <td>@Model.group.aptNum</td>
    </tr>
</table>

<div>משתמשים רשומים שאינם בקבוצה</div>

<div style="color:red; font-size:xx-large">@ViewBag.erorAddUser</div>

@using (Html.BeginForm("SubmitChoosenUser", "Manager", FormMethod.Post))
{
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <td><b>שם משתמש</b></td>
            <td><b>שם פרטי</b></td>
            <td><b>שם משפחה</b></td>
        </tr>
        @foreach (User usr in Model.users)
        {
            <tr>
                <td>@usr.UserName </td>
                <td>@usr.FirstName </td>
                <td>@usr.LastName </td>
                <td>
                    <input type="checkbox" name="users[]" value="@usr.UserName" />
                </td>
            </tr>
        }
    </table>
    <input id="send" type="submit" value="הוסף" />
}
