@model RoommatesExpensesManager.ViewModel.VMGroups
@using RoommatesExpensesManager.Models;

<style>
    .tbl {
        background-color: #FFFFFF;
    }

    .headerTbl {
        background-color: #dcdcdc;
    }

    .selectBtn {
        color: #FF0000;
    }
</style>

@using (Html.BeginForm("ShowExpense", "Roommate", FormMethod.Post))
{
    <span style="font-size:xx-large"><b> הקבוצות שלי </b></span>
    <br />
    <br />
    <table class="table table-bordered table-responsive table-hover tbl">
        <tr class="headerTbl">
            <td>  מזהה קבוצה  </td>
            <td>מנהל </td>
            <td>עיר </td>
            <td>רחוב </td>
            <td>מספר </td>

        </tr>
        @foreach (Group obj in Model.Groups)
        {
            <tr>
                <td>@obj.gid </td>
                <td>@obj.managerUserName </td>
                <td>@obj.city </td>
                <td>@obj.street </td>
                <td>@obj.aptNum </td>
                <td>@Html.ActionLink("צפיה בהוצאות הקבוצה", "ShowExpenses", "Roommate", new { gid = @obj.gid }, new { Class = "selectBtn" })</td>
            </tr>
        }
    </table>

}
