@model RoommatesExpensesManager.Models.Expense

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<style>
    .tbl {
        background-color: #FFFFFF;
    }

    .headerTbl {
        background-color: #dcdcdc;
    }
</style>

@{
    ViewBag.Title = "הצגת הוצאות";
}

<h2>הוספת הוצאה חדשה</h2>

<form id="addExpenseForm" method="post" action="AddExpenseSubmit" class="form-group">
    <table class="table" id="tableForm">
        <tr>
            <td>
                <label>תאריך תשלום</label>
                <input type="date" id="expDate" name="expDate" class="form-control">
            </td>
            <td>
                <label>קטגוריה</label>
                <select id="categoryDD" name="categoryCombo" class="form-control"></select>
                <div style="color:red" id="loadStatuss"></div>
            </td>
            <td>
                <label>מקום הקנייה</label>
                @Html.TextBoxFor(m => m.Store, new { Class = "form-control" })
                <div style="color:red">@Html.ValidationMessageFor(x => x.Store)</div>
            </td>
            <td>
                <label>סכום</label>
                @Html.TextBoxFor(m => m.Amount, new { Class = "form-control" })
                <div style="color:red">@Html.ValidationMessageFor(x => x.Amount)</div>
            </td>
            <td>
                <label>מספר אסמכתא</label>
                @Html.TextBoxFor(m => m.referenceNum, new { Class = "form-control" })
                <div style="color:red">@Html.ValidationMessageFor(x => x.referenceNum)</div>
            </td>
            <td>
                <label>הערות</label>
                @Html.TextBoxFor(m => m.Comment, new { Class = "form-control" })
                <div style="color:red">@Html.ValidationMessageFor(x => x.Comment)</div>
            </td>
        </tr>
    </table>
    <br />
    <input class="btn btn-primary" id="addExspense" type="button" onclick="SendNewExpenese()" value="הוספה" />
    <input class="btn btn-primary" id="addExspense" type="button" onclick="location.href='@Url.Action( "ShowRoommatePage","Roommate")'" value="סיום" />
</form>

<div style="color:red">@ViewBag.addNewCExpenseError</div>

<script>
    var categoryDropDown = $('#categoryDD');
    categoryDropDown.empty();
    categoryDropDown.append('<option selected="true" disabled>בחר קטגוריה</option>');
    $("#loadStatuss").text("טוען קטגוריות... אנא המתן");
    $.getJSON("GetCategoriesByJson", function (categories) {
        for (i = 0; i < categories.length; i++) {
            categoryDropDown.append($('<option></option>').attr('value', categories[i].Type).text(categories[i].Type));
        }
    $("#loadStatuss").text("");
    });
</script>

<h2>הוצאות הקבוצה</h2>
<div style="color:red" id="loadStatus"></div>
<table id="showExpensesTbl" class="table table-bordered table-responsive table-hover tbl">
    <tr class="headerTbl">
        <td>תאריך הוספה </td>
        <td>תאריך תשלום </td>
        <td>שם שותף </td>
        <td>קטגוריה </td>
        <td>חנות </td>
        <td>סכום </td>
        <td>אסמכתא</td>
        <td>הערות </td>
    </tr>
</table>

<script>
    $("#loadStatus").text("טוען הוצאות... אנא המתן");
    $.post("GetExpensesByJson", null, BindDataToTable);

    function BindDataToTable(expenseGroup) {
        $("#showExpensesTbl").find("tr:gt(0)").remove();
    var exspenseTable = $("#showExpensesTbl");
        for (i = 0; i < expenseGroup.length; i++) {
            var entryDate = new Date(parseInt(expenseGroup[i].EntryDate.substr(6)));
            var expDate = new Date(parseInt(expenseGroup[i].expDate.substr(6)));
            var entryDateStr = entryDate.getDate() + '/' +
                (entryDate.getMonth() + 1) + '/' +
                entryDate.getFullYear() + ' ' +
                entryDate.toLocaleTimeString();
            var expDateStr = expDate.getDate() + '/' +
                (expDate.getMonth() + 1) + '/' +
                expDate.getFullYear();
            var newRow = "<tr>" +
                "<td>" + entryDateStr + "</td>" +
                "<td>" + expDateStr + "</td>" +
                "<td>" + expenseGroup[i].UserName + "</td>" +
                "<td>" + expenseGroup[i].Category + "</td>" +
                "<td>" + expenseGroup[i].Store + "</td>" +
                "<td>" + expenseGroup[i].Amount + "</td>" +
                "<td>" + expenseGroup[i].referenceNum + "</td>" +
                "<td>" + expenseGroup[i].Comment + "</td>" +
                "</tr>";
        exspenseTable.append(newRow);
    }
    $("#loadStatus").text("");
}

function SendNewExpenese() {
    var expenseFormData = $("#addExpenseForm").serialize();
    $("#loadStatus").text("שומר הוצאה... אנא המתן");
    $.post("SaveNewExpense", expenseFormData, BindDataToTable);
    $("#Amount").val("");
    $("#Store").val("");
    $("#categoryDD").val('בחר קטגוריה');
    $("#referenceNum").val("");
    $("#expDate").val("");
    $("#Comment").val("");
}
</script>
